/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


html {
    font-family: monserrat, Arial, sans-serif;
}


h1, h2 {
font-family: josefinslab, Georgia, serif;
letter-spacing: 0.125rem;
}

h1 {
font-size: 3.75rem;
margin: 1.125rem;
text-align: center;
}

h2{
font-size: 1.5rem;
}

h2 + P {
    text-indent: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
font-size: 0.75rem;
letter-spacing: 0.03125r;
word-spacing: 0.125rem;
}

li {
    font-size: 0.75rem;
    letter-spacing: 0.03125r;
    word-spacing: 0.125rem;
}



figcaption {
font-size: 0.75rem;
margin-bottom: 2rem;
}




/* Link Styling */

a {
outline: none;
}

a:link, a:visited {
color: #33658A;
}

a:focus, a:hover {
text-decoration: none;
}

/* List Styling */

ul {
margin: 1rem 0;
list-style-type: square;
}

ol {
    margin: 1rem 0;
    list-style-type: lower-alpha;
}

.long-list a:hover {
text-transform: uppercase;
}

/* Navigation Menu */
nav {
padding-left: 0;
margin-top: 0.25rem;
}

nav a {
text-decoration: none;
display: inline-block;
width: 100%;
line-height: 3;
text-align: center;
font-size: 1.125rem;
margin-bottom: 1.5rem;
border: 0.625rem solid #33658A;
}
nav a:focus, nav a:hover {
color: #fff;
background-color: #33658A;
}

nav a:active {
color: #fff;
background-color: #000;
}

/* Footer Styles */

footer {
text-align: center;
}